@model Capstone.Core.Models.CharacterSheet

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CharacterSheet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subrace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subrace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceToNextLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceToNextLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Background)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Background)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Languages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Languages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eyes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eyes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proficiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proficiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inspiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inspiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alignment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alignment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassiveWisdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassiveWisdom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightCarried)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightCarried)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmorClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmorClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DexArmorModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DexArmorModifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Armor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Armor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiscArmorModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiscArmorModifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitiativeModifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitiativeModifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeathSavingThrowSuccesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeathSavingThrowSuccesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeathSavingThrowFailures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeathSavingThrowFailures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhaustion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhaustion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHitDice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHitDice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentHitDice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentHitDice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpellCasting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpellCasting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpellSave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpellSave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpellAttackBonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpellAttackBonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopperPiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopperPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SilverPiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SilverPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectrumPiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectrumPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoldPiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoldPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatinumPiece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatinumPiece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeaponAndArmorProficiencies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeaponAndArmorProficiencies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Traits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Traits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
